<div class="nav-bar">
  <ul>
    <li><a href="#" (click)="scrollToSection('lessons')">Lessons</a></li>
    <li><a href="#" (click)="scrollToSection('volunteers')">Volunteers</a></li>
    <li><a href="#" (click)="scrollToSection('contacts')">Contacts</a></li>
  </ul>
</div>

<div class="header">
  <div class="logo">KatIQ</div>

  <div class="header-search">
      <form class="header-form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
          <input type="text" name="text" class="form-search" placeholder="Find the lesson you need..." formControlName="query" />
      </form>
  </div>
</div>

<div class="lessons" id = "lessons" *ngIf="groupedLessons.length; else noLessons">
  <ng-container *ngFor="let group of groupedLessons">
    <h2 class="subject-title">{{ group.subject }}</h2>
    <ul class="topic-name" *ngFor="let section of group.sections">
      <li>{{ section.section }}</li>
      <ol>
        <li class="lesson" *ngFor="let lesson of section.lessons" [routerLink]="['/details', lesson.title]">
          <span class="lesson-title">{{ lesson.title }}</span>
          <span class="lesson-language">{{ lesson.language }}</span>
        </li>
      </ol>
    </ul>
  </ng-container>
  <br>
</div>

<ng-template #noLessons>
  <div class="no-lessons">No lessons found</div>
</ng-template>


<app-staff-carousel id = "volunteers"></app-staff-carousel>

<div class="footer" id = "contacts">
  <p>Contacts:</p>
  <div class="social-icons">
    <a href="https://www.instagram.com/katiq_bykattiers?igsh=a3dpMmd1aDZ4Mjl4" target="_blank">
      <img src="/assets/instagram-icon.png" alt="Instagram">
    </a>
    <a href="https://t.me/katiq_bykattiers" target="_blank">
      <img src="/assets/telegram-icon.png" alt="Telegram">
    </a>
  </div>
  <p>Email:<a href="mailto:katiq_bykattiers&#64;mail.ru">katiq_bykattiers&#64;mail.ru</a></p>
  <p>This platform is a non-profit project to spread knowledge</p>
  <div class="logoKattiers">Knowledge and Training Interactive Quest Platform by Kattiers</div>
</div>
