.carousel {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
  
  .carousel-track-container {
    overflow: hidden;
    position: relative;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
  .teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 10px;
  }
  
  .teacher img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  @media (max-width: 768px) {
    .carousel {
      max-width: 600px;
    }
  
    .teacher {
      padding: 15px;
    }
  
    .teacher img {
      width: 150px;
      height: 150px;
    }
  
    .carousel-btn {
      padding: 8px;
    }
  
    .prev {
      left: 5px;
    }
  
    .next {
      right: 5px;
    }
  }
  
  @media (max-width: 480px) {
    .carousel {
      max-width: 100%;
      margin: 0 10px;
    }
  
    .teacher {
      padding: 10px;
    }
  
    .teacher img {
      width: 150px;
      height: 150px;
    }
  
    .carousel-btn {
      padding: 6px;
    }
  
    .prev {
      left: 3px;
    }
  
    .next {
      right: 3px;
    }
  }
